
/*################ CONTENT STYLE ##################*/
body {
    background-color: #d8d8d8;
}

#content {
    margin: 0 auto;
    padding-bottom: 50px;
    width: 80%;
    max-width: 978px;;
}

.top-panel {
    text-align: center;
    padding: 15px;
}

.top-panel {
    text-align: center;
    padding: 15px;
}

h1 {
    font-family: 'HelveticaNeueMedium';
}

/*#################  LOADER STYLE  #####################*/
.loaded {
    display: none;
}

.loader {
    width: 100%;
    height: 100%;
}

#loader-content { 
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader-background {
    background: black;
    width: 100%;
    height: 100%;
    padding: 20%;
    padding-top: 95%;
}

#loader-flow {
    position: relative;
    z-index: 1100;
    padding: 1% 30% 0% 45%;
    right: -10%;
    animation: slide 1.2s forwards;
    animation-delay: 1s;
}

@keyframes slide {
    0% { top: -30% }
    100% {top: -50% }
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
    animation-duration: 1.2s;
    animation-delay: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


/*#################  FONTS  #####################*/
@font-face {
    font-family: 'Sonos';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Hv BT Heavy'), url('fonts/futurah.woff') format('woff');
}

@font-face {
    font-family: 'HelveticaNeueMedium';
    font-style: normal;
    font-weight: normal;
    src: local('Helvetica Neue Medium'), url('fonts/HelveticaNeueMedium.woff') format('woff');
}

@font-face {
    font-family: 'aktiv grotesk regular';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Hv BT Heavy'), url('fonts/AktivGrotesk-regular.ttf') format('truetype');
}
    